[submodule "nvim"]
	path = dotfiles/nvim
	url = https://github.com/trevg22/kickstart.nvim.git
	branch = master
[submodule "zsh"]
	path = dotfiles/zsh
	url = https://github.com/trevg22/zsh.git
	branch = main
